* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  padding: 50px 20px;
  background-color: #f0f4f8;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: #333333;
  margin-bottom: 20px;
  color: #3498db;
}

#main {
  width: 500px;
  background-color: #ffffff;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#input-div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#todo-input {
  padding: 15px;
  outline: none;
  border-top: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc;
  border-left: 2px solid #cccccc;
  border-right: 2px solid transparent;
  background-color: #f8f9fa;
  width: 70%;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  font-size: 16px;
  transition: border 0.3s ease;
}

#todo-input:focus {
  border-color: #3498db;
}

#add-todo {
  padding: 15px 25px;
  background-color: #3498db;
  color: white;
  border: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#add-todo:hover {
  background-color: #2980b9;
}

#todo-list {
  list-style: none;
  padding: 0;
}

#todo-list li {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

#todo-list li:nth-child(even) {
    background-color: #f7f7f7;
}

#todo-list li:hover {
  background-color: #ebe9e9;
}

.remove-btn {
  background-color: #e74c3c;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-btn:hover {
  background-color: #c0392b;
}

.checked {
  text-decoration: line-through;
  color: #2980b9;
}
